@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #082032;
}
.container {
  display: flex;
}
.container .static-txt {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
}
.container .dynamic-txt {
  margin-left: 15px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}
.container .dynamic-txt li {
  position: relative;
  list-style: none;
  font-size: 60px;
  font-weight: 500;
  color: #ff4c29;
  top: 0;
  animation: textup 12s steps(4) infinite;
}
@keyframes textup {
  100% {
    top: -360px;
  }
}

.container .dynamic-txt li::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #082032;
  border-left: 2px solid #ff4c29;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
